.question {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-score {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.question-single-que,
.question-options,
.question-navigation {
  width: 80%;
}

.question-card {
  width: 40rem;
  border: none;
}

.option {
  width: 100%;
  cursor: pointer;
  background-color: #1c2b3f;
}

.option:hover {
  background-color: var(--secondary-color);
}

.option.option-true {
  background-color: #007953;
}

.option.option-false {
  background-color: #af1616;
}

.question-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
}
